@import '../../styles/_variables.scss';

.container {
  @include flex-column;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 600px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1023px;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 10px 12px 10px 10px;
    border-radius: 5px;

    .title {
      color: $secondary-color;
    }
    .btn {
      color: white;
      border: none;
      background-color: $primary-color;
    }
    .hidden {
      display: none;
    }
  }

  .parent {
    height: 0;
    overflow: hidden;
    transition: height ease 0.5s;
  }
  .contenttext {
    background-color: $secondary-color;
    border-radius: 0 0 5px 5px;
    padding: 10px 10px;
    color: $primary-color;
  }

  .list {
    background-color: $secondary-color;
    margin: 0;
    padding: 10px 10px;
    list-style: none;
  }
}
