@import '../../styles/_variables.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 84px;
    gap: 10px;

    .text {
        background-color: $primary-color;
        color: white;
        padding: 4px 29px;
        border-radius: 10px;
        font-size: 12px;
        text-align: center;
    }
}