@import '../../styles//variables.scss';

.container {
  display: flex;
  align-items: center;
  padding: 5px;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .star {
    width: 15px;
    height: 15px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  .full {
    color: $primary-color;
  }

  .grey {
    color: gainsboro;
  }
}
