@import '../../../styles/variables/variables.scss';


.card-wrapper {
    background: linear-gradient(  $primary-color, #232121  );
  
    padding: 100px 20px 10px 20px;
    border-radius: 15px;
}

.card-title {
    color: white;
}