$primary-color: #ff6060;
$secondary-color: #f6f6f6;

@mixin side-margins($size) {
  width: calc(100% - $size);
  margin: 0 $size;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
