@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  color: $primary-color;

  
  .title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .subtitle {
    margin-top: 0;
    font-weight: 500;
    font-size: 14px;
  }
}

.containerHR {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;



}