@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  color: $primary-color;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 1240px;
    padding: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1440px;
    padding: 0;
  }

  .wrapperDetails {
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px 0;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 30px 0;
    }
  }

  .wrapperTitlesTags {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      margin: 5px 0;
    }
    .subtitle {
      margin: 0 0 20px 0;
      font-weight: 500;
      font-size: 14px;
    }
  }

  .wrapperHostRates {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: column-reverse;
      margin: 0;
    }
  }

  .collapses {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 54px;
    }
  }
}
