@import '../../styles/_variables.scss';


.cardWrapper {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: $primary-color;
    padding-top: 100px;
    border-radius: 10px;
    min-height: 255px;
    margin: 10px 0;
    width: 100%;
    --card-width: calc(32% - 20px);
   

    @media screen and (min-width: 768px) {
        min-height: auto;
        flex: 0 1 var(--card-width);
        max-width: var(--card-width);
        max-height: 340px;
        padding-top: 0;
        aspect-ratio: 1;
        font-size: calc(var(--card-width)*0.3);


    }
    
.cardTitle {
    color: white;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (min-width: 768px) {
      font-size: 1.1rem;
       left: 0;
       right: 0;

    }
}
}
