@import '../../styles/_variables.scss';


.cardWrapper {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: $primary-color;
    padding: 100px 20px 10px 20px;
    border-radius: 10px;
    margin: 25px;
    position: relative;
    min-width: 335px;
    min-height: 255px;
    width: 32%;
    
    
    @media screen and (min-width: 768px) {
        max-width: 340px;
        max-height: 340px;
    }
    
.cardTitle {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
}
}
