@import '../../styles/_variables.scss';

.collapseContainer {
    display: flex;
    flex-direction: column;
    background-color:$secondary-color;
    color: white;
    max-width: 768px;
    margin: 5px 0;
    width: 100%;
 

    .hidden {
        display: none;
    }
    
    .collapseTopbar {
        display: flex;
        justify-content: space-between;
        padding: 10px 12px 10px 10px;
        border-radius: 5px;
        background-color: $primary-color;

        & button {
            color: white;
            border: none;
            background-color: $primary-color;
        }
    }

    .collapseText{
        background-color:$secondary-color;
        color: $secondary-color;
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
        height: 0;
        transition:height 500ms ease-in;
  
        &.opened {
            height: 100px;
            transition: height 800ms ease-out;
            padding: 10px 8px;
            color: $primary-color;
            }
        
    }
    @media screen and (min-width: 768px) {
        margin: 10px;
    }
}

