$primary-color: #FF6060;
$home-bg-image: url('../../assets/images/home_banner.png');
$about-bg-image: url('../../assets/images/about_banner.png');

@mixin set-bg-image($bg-image) {
    --bg-image: #{$bg-image};
    --bg-image-opacity: 0.9;
}