@import '../../styles/_variables.scss';

.container {
  @include flex-column;
  justify-content: center;
  width: 100%;
  gap: 22px 25px;

  @media screen and (min-width: 768px) {
    border-radius: 25px;
    background-color: #f6f6f6;
    max-width: 1240px;
    padding: 60px 20px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    gap: 55px 60px;
  }
}
