@import '../../styles/_variables.scss';

.container {
  background: $primary-color;
  color: $secondary-color;
  width: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}
