@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';


footer {
    background-color: black;
    color: white;
    height: 210px;
    margin-top:  15px;
    align-items: center;    
    @include flex-column;

    p {
        font-size: 0.7em;
        text-align: center;
        padding: 0 100px;
    }
}