@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  color: $primary-color;

  .title{
    font-size: 18px;
    margin-bottom: 8px;
  }
  .location {
    margin-top: 0;
    font-size: 14px;
  }
}

.containerHR {
  display: flex;
  justify-content: space-between;
}