@import '../../styles/_variables.scss';

.container {

    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
        position:absolute;
        opacity: 0;
        transition-duration: 1s ease;
    }
    .active {
        position: absolute;
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);

    }
    .slideImg {
        width: 310px;
        height: 236.1px;
        border-radius: 10px;
        object-fit: cover;
    }

    .chevron {
        position: relative;
        height: 20px;
        width: 12px;
        color: white;
        cursor: pointer;
        user-select: none;

        .left {
            right: 160px;
        }
        .right {
            left: 160px;

        }
    }
}