@import '../../styles/_variables.scss';

.errorpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    text-align: center;
    .error {
        font-size: 26vw;
        font-weight: 700;
        margin: 10vh;
    }

    p {
        font-size: 1.2em;
        margin: 5vh;
        text-align: center;
    }
}

a {
    font: 0.9em;
    color: $primary-color;
    margin: 10vh;
}